html {
  font-size: 1px;
}

/* tamaño base */
@media (max-width: 375px) {
  html {
    font-size: 0.4px;
  }

  #promos-content {
    flex-direction: column;
    margin-top: 100rem;
  }

  #promos1 {
    margin-bottom: 20rem;
  }

  #promos2 {
    margin-bottom: 20rem;
  }
}

/* apartir de que tamaño la pantalla tendra ciertas propiedades */
@media (min-width: 375px) {
  html {
    font-size: 0.3px;
  }
}

@media (min-width: 768px) {
  html {
    font-size: 0.5px;
  }
}

@media (min-width: 1024px) {
  html {
    font-size: 0.7px;
  }
}

@media (min-width: 1440px) {
  html {
    font-size: 0.8px;
  }
}
